<%= render 'components/breadcrumb-topper', links: [{ text: "Log entry", href: log_path(@log) }, { text: "Edit locations", href: edit_cave_log_location_copies_path(@log, @cave || "misc")}] %>
<%= page_padding do %>
  <h1>Log entry <span class="text-2xl text-gray-700">#<%= @log.id %></span></h1>
  <section>
    <%= render 'edit-form', cave: @cave, log: @log, cave_locations_data: @cave_locations_data, unconnected_locations: @unconnected_locations %>
  </section>
<% end %>
