<h1>Caves</h1>

<%= render "search-bar" %>

<ul>
  <% @caves.each do |cave| %>
    <li>
      <%= link_to cave.title, cave %>
    </li>
  <% end %>
</ul>

<%= link_to "New Cave", new_cave_path %>
<%= link_to "New Log", new_log_path %>
