<%= render 'components/breadcrumb-topper', links: [{ text: "New cave", href: new_cave_path(@cave)}] %>
<%= page_padding do %>
  <h1>New cave</h1>
  <section>
    <%= render "form", cave: @cave %>
  </section>
<% end %>
