<%= render 'components/breadcrumb-topper', links: [{ text: "Log entry", href: log_path(@log) }, { text: "Edit partners", href: edit_log_cave_copies_path(@log)}] %>
<%= page_padding do %>
  <h1>Log entry <span class="text-2xl text-gray-700">#<%= @log.id %></span></h1>
  <section>
    <%= render 'edit-form', log: @log, current_caves: @current_caves, available_caves: @available_caves %>
  </section>
<% end %>
