<%= turbo_frame_tag "log_locations_cave_misc" do %>
  <% if @unconnected_locations.length > 0 %>
    <div class="flex flex-col gap-2">
      <div class="flex justify-between items-center">
        <h3>Miscellaneous locations</h3>
        <%= link_to "Edit", edit_cave_log_location_copies_path(log, "misc"), aria: { label: "Edit miscellaneous locations" }, class: 'btn btn-sm' %>
      </div>
      <p class="alert">These locations are not currently connected to any data, this may happen because a reported cave/location was deleted</p>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <% unconnected_locations.each do |un_loc| %>
              <tr>
                <td>
                  <%= un_loc.location_title %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
