<h1>
  Edit log <span class="text-2xl text-gray-700">#<%= @log.id %></span>
</h1>
<%= turbo_frame_tag "log_details" do %>
  <h2>Trip details</h2>
  <%= render 'form', log: @log, cave: nil %>
<% end %>
