<h1>Log entry</h1>
<h2>Cave</h2>
<p>
  <% if @log.log_cave_copy.cave.present? %>
    <%= @log.log_cave_copy.cave.title %>
  <% else %>
    <%= @log.log_cave_copy.cave_title %>
  <% end %>
</p>
<h2>Personal comments</h2>
<p><%= @log.personal_comments %></p>
